{% load static %}
<html>
   <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title>Django blog</title>
   </head>
   <body>
      <div class="page-header">
         <h1><a href="">Django Blog</a></h1>
      </div>
      <div>
      <div class="button1">
         <button type="button" class="btn btn-default btn-sm"onclick="location.href='{% url 'new_post' %}'">
         <span class="glyphicon glyphicon-plus-sign"></span> Add Post
         </button>
      </div>
      <div class="content_container">
         <div class="row">
            <div class="col-md-8">
               {% for post in posts %}
               <div class="posts">
                  <div class="date">
                     <p>Published: {{ post.published_date }}</p>
                  </div>
                  <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                  <p>{{ post.text|linebreaksbr }}</p>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
      </div>
   </body>
</html>
